p{
color: red;


}
.destacados{
    color: blue;

}
#caja{
    width: 200px;
    background-color: yellow;
    height: 300px;
    cursor: pointer;
    padding: 8px;
    margin-left: 100px;
    border: 10px dashed black;
    text-align: center;
}
#caja:hover{
    background-color:pink ;
} 

a{
    color: green;
    font: size 25px; 
}

a:hover{
    background-color: yellow;
    color: black;


}